.git
.gitignore
.vs

.env
.env.*
**/.env
**/.env.*

**/appsettings.Development.json
**/appsettings.Development.*.json

**/bin
**/obj

*.zip
*.rar
*.7z
*.sql

secrets/
**/secrets/

*.pem
*.key
*.pfx
*.p12