@{
    ViewData["Title"] = "Error";
}
<div class="dashboard-main-body">
    <div class="card border shadow-none radius-12">
        <div class="card-body">
            <h5>Bir hata oluştu.</h5>
        </div>
    </div>
</div>
