@model Symplify.BackOffice.Application.Features.EvaluationScores.Commands.Update.UpdateEvaluationScoreCommand

@{
    ViewData["Title"] = "Evaluation Scores Düzenle";
    string? currentCulture = Context.Request.RouteValues["culture"]?.ToString();
}

<div class="dashboard-main-body">
    <div class="card border shadow-none radius-12">
        <div class="card-header border-bottom">
            <h6 class="text-lg mb-0">Evaluation Scores Düzenle</h6>
        </div>

        <div class="card-body">
            <form asp-action="Edit" asp-route-culture="@currentCulture" method="post" autocomplete="off">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row gy-4">
            <input asp-for="Id" type="hidden" />
            <div class="col-md-6">
                <label class="form-label" asp-for="SubmissionEvaluationId"></label>
                <input class="form-control" asp-for="SubmissionEvaluationId" />
                <span asp-validation-for="SubmissionEvaluationId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="EvaluationCriterionId"></label>
                <input class="form-control" asp-for="EvaluationCriterionId" />
                <span asp-validation-for="EvaluationCriterionId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="Score"></label>
                <input class="form-control" asp-for="Score" type="number" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="Comment"></label>
                <input class="form-control" asp-for="Comment" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-24">
                    <a asp-action="Index" asp-route-culture="@currentCulture" class="btn btn-outline-neutral-900 radius-8 px-20 py-11">Vazgeç</a>
                    <button type="submit" class="btn btn-primary-600 radius-8 px-20 py-11">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
